<form id="snptForm" [formGroup]="snippetForm" novalidate>
  <div class="form-group">
    <label class="center-block">
          Name:
    </label>
    <input class="form-control" formControlName="snipName" value="Snippet Name"/>
    <div *ngIf="!snippetForm.controls['snipName'].valid && (snippetForm.controls['snipName'].dirty)">
        <div *ngIf="snippetForm.controls['snipName'].errors.required" class="alert alert-warning">
          name is requiered
        </div>
    </div>
  </div>
  <div class="form-group">
      <label class="center-block">
        Description:
      </label>
      <textarea rows="4" cols="50" form="snptForm" class="form-control" formControlName="snipDescription">
          Enter text here...</textarea>
      <div *ngIf="!snippetForm.controls['snipDescription'].valid && (snippetForm.controls['snipDescription'].dirty)">
          <div *ngIf="snippetForm.controls['snipDescription'].errors.required" class="alert alert-warning">
            description is requiered
          </div>
      </div>
  </div>
  <div class="form-group">
      <label class="center-block">
        Tag:
      </label>
      <input class="form-control" formControlName="snipTag"/>
      <div *ngIf="!snippetForm.controls['snipTag'].valid && (snippetForm.controls['snipTag'].dirty)">
          <div *ngIf="snippetForm.controls['snipTag'].errors.required" class="alert alert-warning">
            tag is requiered
          </div>
      </div>
  </div>
  <div class="form-group">
      <label class="center-block">
        Code:
      </label>
      <textarea rows="4" cols="50" form="snptForm" class="form-control" formControlName="snipCode">
          Enter text here...</textarea>
      <div *ngIf="!snippetForm.controls['snipCode'].valid && (snippetForm.controls['snipCode'].dirty)">
          <div *ngIf="snippetForm.controls['snipCode'].errors.required" class="alert alert-warning">
            code is requiered
          </div>
      </div>
  </div>
  <button type="submit" class="btn btn-success btn-block">
             <fa *ngIf="!snippetToAdd._id" name="user-plus"></fa>
             <fa *ngIf="snippetToAdd._id" name="edit"></fa>
  </button>
</form>
<button class="btn btn-block" (click)= "clearForm() "><fa name="eraser"></fa>Clear</button>